<%
%>

<% users_by_email = @repository.users_by_commits(@commits) %>
<% no_pagination ||= false -%>
<ul class="events w-750">
<% @commits.group_by{|c| c.committed_date.to_s(:human) }.each do |day, commits| -%>
  <li>
    <p class="date"><%= day -%></p>
    <ul class="event_instances">
      <% commits.each do |commit| -%>
        <% user = users_by_email[commit.author.email] %>
        <li class="event_instance commit">
          <p class="event_date"><%= commit.committed_date.to_s(:short_time) %></p>
          <%= avatar_from_email(commit.author.email, :size => 16)  %>
          <div class="event_meta">
            <p>
              <%= user ? link_to(user.login, user_path(user)) : h(commit.author.name) -%>
              <strong><%= t("views.logs.committed") %></strong> <%= link_to h(commit.id_abbrev), 
                repo_owner_path(@repository, :project_repository_commit_path, @project, @repository, commit.id) -%>
            </p>
            <p>
              <div class="commit_message">
                <%= link_to simple_format(h(commit.short_message)), 
                  repo_owner_path(@repository, :project_repository_commit_path, @project, @repository, commit.id) -%>
              </div>
            </p>
          </div>
        </li>
      <% end -%>
    </ul>
  </li>
<% end -%>
</ul>
<%= will_paginate(@commits) unless no_pagination -%>
