<%
%>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
    options = {matchSubset: false}
    $("input#message_recipients.autocomplete")
      .autocomplete("auto_complete_for_message_recipients", options);
  });
</script>

<%= form_for(@message) do |f| %>
<fieldset class="messages">
  <li>
    <%= label :recipient, t("views.messages.recipient") %> 
    <%#= text_field_with_auto_complete :message, :recipients, {}, 
          :skip_style => true, :select => :login, :tokens => [',',';',' '] -%>
    <div><%= f.text_field :recipients, :class => "autocomplete" -%></div>
  </li>
  
  <li>
    <%= f.label :subject, t("views.messages.subject") %>
    <div><%= f.text_field :subject %></div>
  </li>
  
  <li>
    <%= f.label :body, t("views.messages.body") %>
    <div><%= f.text_area :body, :class => "tall" %></div>
  </li>
</fieldset>
<fieldset class="submit">  
  <li>
    <%= f.submit t("views.messages.submit") %>
  </li>
<% end %>
