<%
%>
<tr class="<%= message.aasm_state_for_user(current_user) -%> <%= message.css_class %>" id="<%= dom_id(message) -%>">
  <td>
    <input type="checkbox" name="message_ids[]" value="<%= message.id -%>" class="select_msg" />
  </td>
  <td class="who">
    <%= sender_and_recipient_display(message) %> (<%= message.number_of_messages_in_thread %>)
  </td>
  <td>
    <%= link_to(h(message.title), message) %> - 
    <span class="preview">
      <%= truncate(h(message.body), :length => 25) %>
    </span>
  </td>
  <td class="timestamp">
    <%= distance_of_time_in_words_to_now(message.created_at) %> ago    
  </td>
</tr>
