<%
%>

<%= breadcrumbs_from(@root) -%>

<h2 class="content-header"><%= t "views.messages.all_messages" %></h2>

<%= render :partial => "messages", :locals => {:messages => @messages} %>

<% content_for(:sidebar) do %>
  <%= render :partial => "sidebar" %>
<% end %>

<%= will_paginate(@messages) %>