<%
%>

<%= breadcrumbs_from(Breadcrumb::MergeRequests.new(@repository)) -%>

<h1><%= t("views.merges.create_title") %></h1>

<%= error_messages_for :merge_request -%>
<%= form_for [@repository.project, @repository, @merge_request] do |f| -%>
  <% help_box do -%>
    <p>
      By sending a merge request to another repository you're inviting the owners
      of that repository to merge the changes you have in your clone. When writing
      a short summary explaining your overall changes the recipients can decide
      whether to merge your commits or provide f_eedback on them. The merge requests
      are public so that everyone can provide f_eedback on your changes.
    </p>
  <% end -%>
  <%= render :partial => "form", :locals => {:form => f} -%>
  
  <% if @project.merge_requests_need_signoff? -%>
    <% help_box(:left) do -%>
      <p>
        This project requires that users who submit merge requests should accept
        a contribution agreement. <strong>You will get redirected to a third-party site
        in order to review and accept their contribution agreement</strong>.
        If you do not accept that contribution agreement, the merge request will
        not be accepted. If you already accepted that once agreement before you may
        not need to accept it again, unless it has changed.<br />
        Note that the thirdparty may receive your fullname and email in order
        to identify  your contributions to their project, if you accept the
        agreement.
      </p>
    <% end -%>
  <% end -%>
  
  <%= f.submit t("views.merges.create_btn") -%>
<% end -%>

<%= render :partial => "commit_list_js" -%>
