<%
%>

<div id="inline_comment_form" class="<%= commentable_type -%>">
<h2>Add your comment</h2>
<% if logged_in? -%>
<%= form_for(comment, :url => url) do |f| -%>
<p><em id="description"></em></p>
<p class="flash_message error" style="display:none"></p>
<p>
  <%= f.text_area :body -%>
  <%= hidden_field :comment, :lines -%>
  <%= f.hidden_field :path -%>
  <%= f.hidden_field :sha1, :value => sha1 -%>
  <%= f.hidden_field :context -%>
</p>
<p>
  <%- if include_favorite_checkbox -%>
        <%= label_tag(:add_to_favorites, "Start watching") %>:
        <%= check_box_tag(:add_to_favorites, "on") %> <br />
  <%- end -%>
</p>
<p class="progress" style="display:none">
  <%= image_tag "spinner.gif" -%>  Saving...
</p>
<p>
  <%= f.submit -%>
  <input type="button" value="Cancel" class="cancel" />
</p>
<% end -%>
<% else -%>
<div class="please_log_in">
<p>Please <%= link_to "log in", login_path -%> to comment</p>
</div>
<% end -%>
</div>

