<%
%>


<div class="diff-comment" gts:lines="<%=h comment.lines -%>" id="<%= dom_id(comment,'inline') -%>">
  <div class="byline">
    <span class="avatar">
      <%= link_to(avatar(comment.user, { :size => 16 }), user_path(comment.user)) %>
    </span>
    <%= link_to(h(comment.user.title), comment.user) -%>
  </div>
  <div class="body"><%= render_markdown(comment.body, :auto_link) %></div>
  <div class="timestamp">
    <%= time_ago(comment.created_at) -%>
  </div>
  <% if logged_in? -%>
  <div class="reply">(<a href="#reply">reply</a>)</div>
  <% end -%>
  <div class="clear"></div>
</div>

