<%
%>

<% @page_title = t("views.comments.page_title_2", :title => @project.title) -%>
<%= breadcrumbs_from(@repository) -%>


<h1>
  <%= t("views.comments.page_title_3", :repo => h(@repository.name), :title => h(@repository.project.title)) %>
</h1>

<% if @comments.blank? -%>
  <p><em>No comments yet, be the first to add one to a commit</em></p>
<% end -%>

<div class="comments">
<% @comments.each do |comment| -%>
<div class="comment">
  <a name="<%= dom_id(comment) -%>"></a>
  <div class="body"><%= render_markdown(comment.body) -%></div>
  <p class="byline">
    <span class="avatar">
      <%= link_to(avatar(comment.user, { :size => 16 }), user_path(comment.user)) %>
    </span>
    <%= link_to(h(comment.user.login), comment.user) -%> |
    <span class="permalink">
      <%= link_to time_ago(comment.created_at), "##{dom_id(comment)}" -%>
    </span>
    <% unless comment.sha1.blank? -%>
    | on <%= link_to "commit #{comment.sha1[0,7]}",
                repo_owner_path(@repository, :project_repository_commit_path,
                @repository.project, @repository, comment.sha1) + "##{dom_id(comment)}" -%>
    <% end -%>
  </p>
</div>
<% end -%>
</div>
