<%
%>
<div id="content">
  <%= form_for :user, :url => forgot_password_create_users_path do |f| -%>
<div class="form-wrapper" id="forgotpw">
		<div id="forgot-pw">
				<h1>Forgotten password</h1>	
				<p>You'll receive an e-mail with instructions on how to reset your password.</p>
						<div class="horisontal-shadow"></div>
						<ul>
							<li>
								<%= f.label :email, t(:email, :scope => "activerecord.attributes.user") -%>
								<%= f.text_field :email -%>
							</li>
							<li>
								<div class="submit">
									  <%= f.submit t("views.users.send_new_passwd") %>
								</div>
							</li>
						</ul>
		</div>

	</div>
			<p class="alt_links">
			    <small>
			    <% if GitoriousConfig['public_mode'] -%>
			      <%= link_to t("views.sessions.register"), new_user_path -%> 
			      &mdash;
			    <% end -%> 
			    <%= link_to t("views.sessions.forgot"), forgot_password_users_path -%>
			    </small>
			</p>
	</div>
<% end -%>

</div>
