<%
%>

<%= breadcrumbs_from(@root) -%>

<h1>
  <%= @page.new? ? t("views.common.creating") : t("views.common.editing") -%> 
  <%= t("views.pages.page") -%> <%= link_to h(@page.title), project_page_path(@project, @page.title) -%>
</h1>

<% if @page.new? -%>
  <% help_box(:middle, :error) do -%>
    <p>The page "<%=h params[:id] -%>" doesn't exist yet, you can create it below if
    you like.</p>
  <% end -%>
<% end -%>


<%= form_for [@project, @page] do |f| -%>
  <p class="hint">
    <%= t("views.common.markdown_format_with_help") -%>
    <a href="#markdown-help" onclick="$('.markdown_help')[0].toggle();return false">Markdown</a>. 
    <%= t("views.pages.wikiwords_syntax") -%>
  </p>

  <p>
    <%= render_markdown_help -%>
  </p>

  <div id="page_preview" style="display:none">
  </div>

  <%= f.text_area :content, :class => "text fill taller" -%><br />
  <%= f.submit -%> 
  <%= button_to_function("Show preview", "toggle_wiki_preview('#{preview_project_page_path(@project,@page)}')", :id => "wiki_preview_toggler", :class => "preview") %>

  
  <%= t("views.pages.or_back_to_page", 
        :page_link => link_to(@page.title, project_page_path(@project, @page.title))) -%>
<% end -%>

