<%
%>

<%= breadcrumbs_from(@root) -%>

<h1>
  <%= t("views.pages.last_n_edits", {
    :n => 30, 
    :title => link_to(@page.title, project_page_path(@project, @page.title))
  }) -%>
</h1>

<% @commits.each do |commit| -%>
  <div class="page-meta page-history">
    <p>
      <%= avatar_from_email(commit.committer.email, :size => 20) %>
      <%- if user = @user_and_email_map[commit.committer.email] -%>
        <%= link_to(h(commit.committer.name), user) -%>
      <%- else -%>
        <%= h(commit.committer.name) -%>
      <%- end -%>
      <%= commit.date.to_s(:short) -%>
    </p>
    <p><em><%= h(commit.message) -%></em></p>
    
    <div class="diff" style="//display:none">
      <% commit.diffs.each do |file| -%>
        <%= render_inline_diff(file.diff) -%>
      <% end -%>
    </div>
  </div>
<% end -%>