.hero-unit
  %h1 
    Lab 
    = @submission.lab_has_group.lab.number
    |
    Submission
    = @submission.number
  %h1
    State:
    = @submission.lab_has_group.state
  %h2
    Group
    = @group.number
  %h2 Students:
  - @group.students.each do |student|
    %p= student.user.email
  %br