<%
%>

<h1><%= t("views.projects.delete_title", :title => h(@project.title)) %></h1>

<p class="important_message">
  <%= t("views.projects.delete_message") %>
  
  <%= form_for @project, :html => {:method => :delete} do |f| -%>
    <%= f.submit(t("views.projects.delete_btn")) -%>
  <% end -%>
</p>

<% content_for :submenu do -%>
  <li class="selected"><%= link_to t("views.projects.edit"), edit_project_path(@project) -%></li>
<% end -%>

<% content_for :sidebar do -%>
  <ul class="links navigation">
    <li><%= link_to t("views.projects.back"), edit_project_path(@project) -%></li>
  </ul>
<% end -%>