<%
%>

<% @page_title = t("views.projects.title") -%>

<h2 class="content-header">Projects</h2>

<ul class="project_list">
<% @projects.each do |project| -%>
  <li class="project_list_item">
    <%= render :partial => project, :object => project -%>
  </li>
<% end -%>
</ul>

<%= will_paginate @projects -%>

<% content_for :sidebar do -%>
  <h2><%= t("views.projects.popular") %></h2>
<ul class="links navigation">
	<li class="new_project">
      <%= link_to t("views.projects.create_new"), new_project_path() -%>
    </li>
</ul>
  <% pull_box("Most active recently", :class => "pull-box-sidebar") do -%> 
    <ul class="with_icons">
      <% @active_recently.each do |project| -%>
        <li class="project"><%= link_to h(project.title), project -%></li>
      <% end -%>
    </ul>
  <% end -%>
<% end -%>
