.well
  %h2.grey My courses
  %br
  -@student_courses.each do |course|
    .well
      %h2
        = link_to course.course.course_codes.first.code, course_path("student", course)
      %table.table.table-bordered.table-striped
        %thead
          %tr
            %th Lab
            %th Group
            %th Status
            %th Latest submisssion
            %th Next deadline
        %tbody
          - course.labs.order("number ASC").each do |lab|
            %tr{:class => cycle("odd", "even")}
              - if lhg = current_user.student.lab_has_groups.joins(:lab).where(lab_id: lab.id).first
                - group = lhg.lab_group
                - @state = lhg.state
                %td
                  %h4
                    = link_to "Lab #{lab.number}", course_lab_group_lab_path("student", course.id, group.id, lab.id)
                %td
                  %h4
                    = link_to "Group #{group.number}", course_lab_group_path("student", course, group.id)
                %td
                  %h4 
                    %span{class: @state}= @state
                %td
                  -unless lhg.submissions.empty?
                    = lhg.submissions.order("updated_at ASC").first.updated_at if group.submissions
                  -else
                    No submissions yet.
              - else
                %td
                  %h4
                    = link_to "Lab " + lab.number.to_s, course_lab_path("student", course, lab)
                %td
                %td
                  %h4
                    = link_to "start lab", course_lab_path("student", course, lab)
                %td
              %td
                = lab.default_deadlines.last.at
