<%
%>

<% @page_title = "All Activities" -%>

<% if logged_in? %>
  <h2 class="content-header">
    <%= random_greeting %> <%=link_to h(current_user.login), current_user %>!
  </h2>
<% else -%>
<div id="site_intro">
  <p><%= t("views.site.description") %></p>
</div>
<% end -%>

<% if GitoriousConfig['public_mode'] || logged_in? -%>
<div id="left">
  <%= pull_box(nil, :class => "expose") do -%>
    <p>
      Gitorious provides <a href="/gitorious">open source</a> infrastructure
      for open source projects which use Git.
      <small><a href="/about">Read more&hellip;</a></small>
    </p>
  <% end unless logged_in? -%>

</div>

<div id="right">

<% cache([:site_index, :active_clones], :expires_in => 25.minutes) do -%>
  <%= pull_box("Most active repository clones", :class => "pull-box-510") do -%>
    <ul class="with_icons">
      <% @top_repository_clones.each do |repo| -%>
        <li class="repository">
          <%= link_to h(repo.title), repo_owner_path(repo, :project_repository_path, repo.project, repo) -%>
          <span class="hint">(<%= link_to h(repo.project.title), repo.project -%>)</span>
          <small class="hint"><%= truncate(h(strip_tags(repo.description)), :length => 65) -%></small>
        </li>
      <% end -%>
    </ul>
  <% end -%>
<% end -%>

<% cache([:site_index, :active_users], :expires_in => 20.minutes) do -%>
  <%= pull_box("Active users", :class => "pull-box-510") do -%>
    <ul class="with_icons inline_icons">
      <% @active_users.each do |user| -%>
        <li class="user">
          <%= avatar(user, { :size => 16 }) -%>
          <%= link_to h(user.title), user -%>
        </li>
      <% end -%>
    </ul>
  <% end -%>
<% end -%>

</div>
<% end -%>
