<%
%>
<ul class="form">
	<fieldset>
		<li>
			<%= f.label :login, t(:login, :scope => "activerecord.attributes.user") -%>
			<div><%= f.text_field :login -%></div>
		</li>
		<li>
			<%= f.label :email, t(:email, :scope => "activerecord.attributes.user") -%>
			<div><%= f.text_field :email -%></div>
		</li>
		<li>
			<%= f.label :password, t(:password, :scope => "activerecord.attributes.user") -%>
			<div><%= f.password_field :password -%></div>
		</li>
		<li>
			<%= f.label :password_confirmation, t(:password_confirmation, :scope => "activerecord.attributes.user") -%>
			<div><%= f.password_field :password_confirmation %></div>
		</li>
	</fieldset>
	<fieldset>
		<li>
			<%= f.label :is_admin, t("views.users.is_admin") -%>
			<div><%= f.check_box :is_admin, {}, "1", "0" %></div>
		</li>
	</fieldset>							
	<fieldset class="submit">
		<li>
			<%= f.submit t("views.common.create") %>
		</li>
	</fieldset>
</ul>								
