<%
%>
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title><%= @page_title ? @page_title + " - " : "" -%><%= current_site.title -%></title>
<%= stylesheet_link_tag "base", :cache => true %>
<%= include_javascripts %>
<%  if @atom_auto_discovery_url -%>
  <%= auto_discovery_link_tag(:atom, @atom_auto_discovery_url,
        :title => @atom_auto_discovery_title) -%>
<% end -%>
<%= yield :extra_head -%>
<!--[if IE 8]>
<link rel="stylesheet" href="/stylesheets/ie8.css" type="text/css">
<![endif]-->
<!--[if IE 7]>
<link rel="stylesheet" href="/stylesheets/ie7.css" type="text/css">
<![endif]-->

<%= GitoriousConfig["extra_html_head_data"] -%>
