!!!
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8" lang="en">
/[if IE 8] <html class="no-js lt-ie9" lang="en">
/ [if gt IE 8]><!
%html
  / <![endif]
  %head
    %meta{:charset => "utf-8"}/
    %title
      = @page_title ? @page_title + " - " : ""
      = current_site.title
    = include_gon
    = stylesheet_link_tag "water"
    = yield :post_css
    = javascript_include_tag "water"
    = yield :post_js
  %body{class: params[:controller]}
    /[if lt IE 7] <p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p>
    - if current_user
      = render "layouts/navigation_logged_in"
    - else
      = render "layouts/navigation_not_logged_in"
    #main.container
      - unless flash.empty?
        .alert.alert-info
          %a.close{"data-dismiss" => "alert"} ×
          = flashes
      = yield
